*{
    box-sizing: border-box;
}
#calculator{
    border: 2px solid red;
    display: block;
    width: 300px;
}
#display{
    border: 2px dotted black;
    text-align: end;
}
.smaller{
    border: 1px dashed greenyellow;
    padding: 3px;
    height: 40px;
    
}
.bigger{
    height: 60px;
    padding: 5px;

}

button{
    padding: 20px;
    margin: 5px;
}

/* row one styles */
.row.one{
    border: 2px solid rgb(129, 224, 129);
    display: flex;
    
}
#allClear{
    width: 50%;

}
#clear{
    width: 50%;

}

.row.two{
    border: 2px solid rgb(61, 114, 137);
}

.row.three{
    border: 2px solid rgb(101, 220, 198);
}

.row.four{
    border: 2px solid rgb(161, 68, 190);
}

.row.five{
    border: 2px solid rgb(91, 37, 156);
}
